:root{
    --green-: #57C2B2;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Comfortaa';
    font-weight: 400;
}
ul{
    list-style: none;
}
.profile{
    height: 100vh;
    background: url(img/bkg.jpg) no-repeat center/cover;
    background-attachment: fixed;
    padding-top: 25px;
    overflow: hidden;
}
.info{
    background: #fff;
    width: 100%;
    padding: 35px 0;
    border-radius: 25px;
    text-align: center;
    position: relative;
    z-index: 3;
    transition: 0.7s all;
    overflow: hidden;
}
.container{
    max-width: 354px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    overflow: hidden;
    
}
.profile_img{
    width: 100px;
    border-radius: 50%;
}
.name{
    margin: 20px 0 10px;
}
.profile_info{
    width: 100%;
    padding: 15px 20px;
    background: var(--green-);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    transition: 0.7s all;
    transform: translateY(-150%);
}
.line{
    height: 70px;
    width: 1px;
    background: #fff;
    border: none;
    border-radius: 2px;
    opacity: 0.3;
}
.box{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.box img{
    width: 55px;
    background: #ffffff63;
    padding: 10px;
    border-radius: 10px;
}
.title{
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
}
.number{
    font-size: 25px;
    color: #fff;
}
.tabs{
    width: 100%;
    display: flex;
    transform: translateY(-400%);
    justify-content: space-between;
    padding: 7px 25px;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: 0.7s all;
    /* display: none; */
    
}
.text{
    color: gray;
    padding: 15px 25px;
    transition: 0.7s all;
}
.text.active{
    background: #eaecfa;
    color: var(--green-);
    border-radius: 12px;
}


.back_link{
    width: 100%;
    display: block;
    background: #fff;
    padding: 15px;
    font-size: 22px;
    color: #57C2B2;
    text-decoration: none;
    border-radius: 15px;
    margin-top: 20px;
    transform: translateY(-380%);
    transition: 0.7s all;
    
}

.info.active + .profile_info,
.info.active ~ .tabs,
.info.active ~ .back_link{
    transform: translateY(0);
}
.calendar{
    
    margin-top: 20px;
    transition: 0.7s all;
    width: 100%;
    border-radius: 15px;
}
.calendar_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffffd2;
    backdrop-filter: blur(10px);
    padding: 20px 20px 35px;
    border-radius: 15px 15px 0 0;
}
.calendar_date{
    font-size: 20px;
}
.calendar_btn{
    width: 36px;
    height: 36px;
    background: #fff;
    border: 1px solid #f0cfe4;
    border-radius: 10px;
    outline: none;
    padding: 7px;
}
.calendar_btn img{
    width: 100%;
}
.calendar_btn.prev{
    transform: rotate(90deg);
}
.calendar_btn.next{
    transform: rotate(-90deg);
}
.calendar_week{
    /* overflow: hidden; */
    position: relative;
    top: -15px;
    background: #fff;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    
}

.calendar_week-item{
    width: 50px;
    padding: 20px 5px 5px;
    border-radius: 10px;
    transition: 0.7s all;
    text-align: center;
}
.calendar_week-item:last-child{
  display: none;
}
.calendar_week-day{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}
.calendar_week-number{
    font-size: 18px;
    padding: 7px;
    border-radius: 10px;
    transition: 0.7s all;
    color: #6f7072;
}
.calendar_week-item.active{
    background: #57C2B2;
}
.calendar_week-item.active > .calendar_week-day{
    color: #fff;
}
.calendar_week-item.active > .calendar_week-number{
    color: #fff;
    background: #ffffff63;
}
.calendar ~ .back_link{
    transform: translateY(0);
}

.lesson_time{
    width: 150%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lesson_time-item{
    padding: 10px 30px;
    background: #fff;
    border-radius: 10px;
}
.lesson_time-item.active{
    background: #57C2B2;
    color: #fff;
}