@import url('font/stylesheet.css');
:root {
    --green-: #57c2b2;
    --orange-: #f46b3f;
    --red-: #a83d4d;
    --yellow-: #ffd166;
    --blue-: #0288d1;

    --shadow-green: rgba(87, 194, 178, 0.4);
    --shadow-orange: rgba(244, 107, 63, 0.4);
    --shadow-red: rgba(168, 61, 77, 0.4);
    --shadow-yellow: rgba(255, 209, 102, 0.5);
    --shadow-blue: rgba(2, 136, 209, 0.4);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", serif;
    font-weight: 400;
    font-style: normal;
    background: url(img/bkg.jpg) no-repeat center/cover;
    background-attachment: fixed;
}

ul {
    list-style: none;
}

.profile {
    /* height: 100vh; */
    padding-top: 25px;
    overflow: hidden;
}

.info {
    background: #fff;
    width: 100%;
    padding: 35px 0;
    border-radius: 25px;
    text-align: center;
    position: relative;
    z-index: 3;
    transition: 0.7s all;
    overflow: hidden;
}

.container {
    max-width: 354px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.profile_img {
    width: 100px;
    border-radius: 50%;
}

.name {
    margin: 20px 0 5px;
    font-size: 20px;
}
.username{
    font-size: 16px;
    color: #6B7280;
}
.profile_info {
    width: 100%;
    padding: 15px 20px;
    background: var(--green-);
    box-shadow: var(--shadow-green);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    transition: 0.7s all;
    transform: translateY(-150%);
}

.line {
    height: 70px;
    width: 1px;
    background: #fff;
    border: none;
    border-radius: 2px;
    opacity: 0.3;
}

.box {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.box img {
    width: 55px;
    background: #ffffff63;
    padding: 10px;
    border-radius: 10px;
}

.title {
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
}

.number {
    font-size: 25px;
    color: #fff;
}

.tabs {
    width: 100%;
    display: flex;
    transform: translateY(-400%);
    justify-content: space-between;
    padding: 7px 25px;
    background: #fff;
    border-radius: 10px;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: 0.7s all;
}

.text {
    color: gray;
    padding: 15px 25px;
    transition: 0.7s all;
}

.text.active {
    background: #eaecfa;
    color: var(--green-);
    border-radius: 12px;
}

.back_link {
    width: 100%;
    display: block;
    background: var(--green-);
    box-shadow: var(--shadow-green);
    padding: 15px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    margin-top: 20px;
    transform: translateY(-210%);
    transition: 0.7s all;
}

.info.active + .profile_info,
.info.active ~ .tabs,
.info.active ~ .back_link {
    transform: translateY(0);
}

.calendar {
    margin-top: 20px;
    transition: 0.7s all;
    width: 100%;
    border-radius: 15px;
}

.calendar_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eaecfa;
    backdrop-filter: blur(10px);
    padding: 20px 20px 35px;
    border-radius: 15px 15px 0 0;
}

.calendar_date {
    font-size: 18px;
}

.calendar_btn {
    width: 36px;
    height: 36px;
    background: #fff;
    border: 1px solid var(--orange-);
    border-radius: 10px;
    outline: none;
    padding: 7px;
}

.calendar_btn img {
    width: 100%;
}

.calendar_btn.prev {
    transform: rotate(90deg);
}

.calendar_btn.next {
    transform: rotate(-90deg);
}

.calendar_week {
    position: relative;
    top: -15px;
    background: #fff;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    border-top: 1px solid var(--orange-);
}

.calendar_week-item {
    width: 50px;
    padding: 20px 5px 5px;
    border-radius: 10px;
    transition: 0.7s all;
    text-align: center;
}

.calendar_week-item:last-child {
    display: none;
}

.calendar_week-day {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.calendar_week-number {
    font-size: 15px;
    padding: 7px;
    border-radius: 10px;
    transition: 0.7s all;
    color: #6f7072;
}

.calendar_week-item.active {
    background: var(--green-);
    box-shadow: var(--shadow-green);
}

.calendar_week-item.active > .calendar_week-day {
    color: #fff;
}

.calendar_week-item.active > .calendar_week-number {
    color: #fff;
    background: #ffffff63;
}

.back_link.profile_link {
    transform: translateY(0);
}

.lesson_time {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    overflow-x: scroll;
}
.lesson_time::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.lesson_time-item {
    padding: 10px 30px;
    background: #fff;
    border-radius: 10px;
    font-size: 15px;
}

.lesson_time-item.active {
    background: var(--green-);
    box-shadow: var(--shadow-green);
    color: #fff;
}

.attedence {
    margin-top: 20px;
    padding: 20px 15px 10px;
    background: #fff;
    border-radius: 25px;
}

.attedence_box {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
}
.btn_list {
    display: block;
    width: 100%;
    font-size: 15px;
    background-color: var(--green-);
    box-shadow: var(--shadow-green);
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border-radius: 15px;
    padding: 20px 0;
}

.group_name {
    font-family: "Quick Ravage";
    font-size: 115px;
    font-weight: 400;
    color: var(--orange-);
    box-shadow: var(--shadow-orange);
    text-transform: uppercase;
}
.group_comment {
    font-size: 15px;
    text-align: left;
    margin: 10px 0 20px;
}
.lesson-status {
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.7s all;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    background: var(--green-);
    box-shadow: var(--shadow-green);
}
.lesson-status.completed {
    background: var(--blue-);
    box-shadow: var(--shadow-blue);
}
.lesson-status.in-progress {
    background: var(--orange-);
    box-shadow: var(--shadow-orange);
}
.lesson-status.canceled {
    background-color: var(--red-);
    box-shadow: var(--shadow-red);
}
.list-box {
    max-width: 354px;
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0;
    padding-bottom: 2%;
}
.list-box_menu {
    padding: 20px 15px 25px;
    width: 100%;
    height: 550px;
    background: #eaecfa;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column-reverse;
    position: relative;
    bottom: -15px;
    border-radius: 15px 15px 0 0;
    gap: 10px;
    overflow: scroll;
    border: 1px solid var(--green-);
}
.list-box_menu::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}
.list-box_item {
    width: 100%;
    background: #fff;
    padding: 10px 15px;
    border-radius: 0 10px 10px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list-box_item::before {
    position: absolute;
    content: "";
    display: block;
    width: 3px;
    height: 100%;
    background: var(--green-);
    top: 0;
    left: 0;
    border-radius: 10px 0 0 10px;
}
.list-box_item.debt::before{
    background: var(--red-);
}
.list-box_img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.list-box_name {
    text-align: left;
}
.list-box_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 32px;
    font-size: 18px;
    /* background: var(--green-); */
    background: var(--red-);
    outline: none;
    border: none;
    color: #fff;
    border-radius: 10px;
}
.box_suka {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.list-box_info {
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    border-radius: 15px;
    position: relative;
    z-index: 3;
    border-top: 1px solid var(--green-);
}
.list-box_group {
    font-size: 20px;
    color: #fff;
    padding: 5px 35px;
    background: var(--orange-);
    border-radius: 10px;
}
.submit {
    font-size: 20px;
    color: #fff;
    padding: 0 25px;
    height: 37px;
    background: var(--green-);
    border: none;
    outline: none;
    border-radius: 10px;
}
